<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'training'|translate}}s</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="newTraining()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="{{'pull_down'|translate}}"
      refreshingSpinner="circles"
      refreshingText="{{'loading'|translate}}...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid *ngIf="is_loading">
    <ion-card *ngIf="is_loading">
      <ion-skeleton-text *ngIf="is_loading" animated style="width: 100%; height: 200px; margin-top:0"></ion-skeleton-text>
      <div class="card-title">
        <ion-item lines="none">
          <ion-thumbnail  slot="end" style="text-transform: capitalize">
            <ion-skeleton-text *ngIf="is_loading" animated style="width: 100%; border-radius: 14px;"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <p class="bold primary" style="font-size: 18px">
              <ion-skeleton-text *ngIf="is_loading" animated style="width: 100%"></ion-skeleton-text>
            </p>
            <h3 class="bold black"><ion-skeleton-text *ngIf="is_loading" animated style="width: 50%"></ion-skeleton-text></h3>
            <p>
              <ion-skeleton-text *ngIf="is_loading" animated style="width: 70%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </div>
    </ion-card>

    <ion-card *ngIf="is_loading">
      <ion-skeleton-text *ngIf="is_loading" animated style="width: 100%; height: 200px; margin-top:0"></ion-skeleton-text>
      <div class="card-title">
        <ion-item lines="none">
          <ion-thumbnail  slot="end" style="text-transform: capitalize">
            <ion-skeleton-text *ngIf="is_loading" animated style="width: 100%; border-radius: 14px;"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <p class="bold primary" style="font-size: 18px">
              <ion-skeleton-text *ngIf="is_loading" animated style="width: 100%"></ion-skeleton-text>
            </p>
            <h3 class="bold black"><ion-skeleton-text *ngIf="is_loading" animated style="width: 50%"></ion-skeleton-text></h3>
            <p>
              <ion-skeleton-text *ngIf="is_loading" animated style="width: 70%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </div>
    </ion-card>
  </ion-grid>

  <ion-grid class="card-background-page" *ngIf="!is_loading">

    <ion-searchbar animated="true" placeholder="{{'search'|translate}}" [(ngModel)]="search" type="text" (ionInput)="getItems($event)"></ion-searchbar>



    <ion-card *ngFor="let s of trainings" class="small" (click)="goTo(s)">
      <img src="{{s.image}}"/>
      <div class="card-title">
        <ion-item lines="none">
          <ion-thumbnail *ngIf="s.price>0" slot="end" style="text-transform: capitalize">
            {{s.price|priceFormat}} XAF
          </ion-thumbnail>
          <ion-thumbnail *ngIf="s.price<1" slot="end" style="text-transform: capitalize">
            {{'free'|translate}}
          </ion-thumbnail>
          <ion-label>
            <p class="bold primary" style="font-size: 18px">
              {{s.title}}
            </p>
            <h3 class="bold black">{{s.trainer}}</h3>
            <p>
              <app-rank [rank]="s.ratings.avg"></app-rank>

              | <strong class="primary">{{s.students|priceFormat}}</strong> {{'student'|translate}}<span *ngIf="s.students>1">s</span></p>
          </ion-label>
        </ion-item>
      </div>
    </ion-card>
    <app-oups-info [text]="'no_training'" *ngIf="!is_loading && trainings.length<1"></app-oups-info>
  </ion-grid>

  <a id="contact" style="display: none" href="mailto:egofisance@gmail.com"></a>

  <ion-button  style="display: none" id="open-modal" expand="block">Open Sheet Modal</ion-button>

  <ion-modal #modalDetail trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 0.5, 0.75, 1]">
    <ng-template>
      <ion-content>
        <ion-fab vertical="top" horizontal="end" slot="fixed">
          <ion-fab-button color="light" size="small" (click)="closeModal()">
            <ion-icon name="close"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <ion-grid>
          <img src="{{training.image}}" alt="" style="height: 30vh; width:100%; border-radius: 10px">

          <ion-item lines="none" style="--padding-start: 5px">
            <ion-thumbnail *ngIf="training.price>0" slot="end" style="text-transform: capitalize">
              {{training.price|priceFormat}} XAF
            </ion-thumbnail>
            <ion-thumbnail *ngIf="training.price<1" slot="end" style="text-transform: capitalize">
              {{'free'|translate}}
            </ion-thumbnail>
            <ion-label>
              <p class="bold primary" style="font-size: 18px; white-space: normal">
                {{training.title}}
              </p>
              <h3><span>{{training.trainer}}</span></h3>
              <p>
                <app-rank [rank]="training.ratings.avg" (click)="newRank()"></app-rank>

                 | <strong class="primary">{{training.students|priceFormat}}</strong> {{'student'|translate}}<span *ngIf="training.students>1">s</span></p>
            </ion-label>
          </ion-item>

          <div class="divider"></div>


          <ion-row>
            <ion-col size="12" style="font-size: 14px; font-weight: bold; color:var(--ion-color-primary)">{{'training_content'|translate}}</ion-col>
            <ion-col size="12" class="custom-html" [innerHTML]="training.description">
            </ion-col>
            <ion-col size="12">
              {{'language'|translate}} : <strong *ngIf="training.language=='fr'">{{'french'|translate}}</strong> <strong *ngIf="training.language=='en'">{{'english'|translate}}</strong>
            </ion-col>
          </ion-row>
          <div class="divider"></div>
          <ion-row>
            <ion-col style="font-size: 14px; font-weight: bold; color:var(--ion-color-primary)">Modules</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div *ngFor="let m of training.modules">
                <ion-icon name="bookmark-outline"></ion-icon> {{m.title}}
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button expand="block" (click)="startTraining(training)">{{'start'|translate}}</ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>

<ion-footer class="ion-text-center" >
  <ion-button (click)="newTraining()" shape="round" size="small" fill="outline" color="primary">
    {{'add_training'|translate}}
  </ion-button>
</ion-footer>
