<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{'Participants'|translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let p of participants">
      <ion-label>#{{p.id}} - {{p.user.sponsor_code}}</ion-label>
    </ion-item>

    <app-oups-info [text]="'no_participant'" *ngIf="participants.length<1"></app-oups-info>
  </ion-list>
</ion-content>



