<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{'store'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>

    <ion-row class="games">
      <ion-col size="12" (click)="goTo('subscription')">
        <img alt="" src="../../../assets/img/packs/10.png"  style="height: 350px"/>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-toolbar class="ion-no-border">
      <ion-title slot="start">{{'hour_pack'|translate}}</ion-title>
    </ion-toolbar>

    <ion-row>
      <ion-col size="6">
        <img src="../../../assets/img/wz/ps.png" style="height: 170px; width: 100%; border-radius: 10px; border-top:3px solid #eee"/>
      </ion-col>
      <ion-col size="6">
        <img src="../../../assets/img/wz/vr_p.png" style="height: 170px; width: 100%; border-radius: 10px; border-top:3px solid #eee"/>
      </ion-col>
      <ion-col size="6">
        <img src="../../../assets/img/wz/offre_5k.png" style="height: 170px; width: 100%; border-radius: 10px; border-top:3px solid #eee"/>
      </ion-col>
      <ion-col size="6">
        <img src="../../../assets/img/wz/offre_10k.png" style="height: 170px; width: 100%; border-radius: 10px; border-top:3px solid #eee"/>
      </ion-col>
      <ion-col size="6">
        <img src="../../../assets/img/wz/mardi_duo.png" style="height: 170px; width: 100%; border-radius: 10px; border-top:3px solid #eee"/>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid class="card-background-page" (click)="goTo('product')" *ngIf="products.length>0">
    <ion-toolbar class="ion-no-border">
      <ion-title slot="start">{{'OTAKUGET+'|translate}}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="goTo('product')"><ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-row>
      <ion-col>
        <swiper-container
          [spaceBetween]="10"
          [slidesPerView]="2"
          [speed]="1000"
          [loop]="true"
          [autoplay]="{enable:true,delay:6000}" #swiperComponents>
          <swiper-slide *ngFor="let p of products">
            <ion-card class="small">
              <img src="{{p.image.url}}"/>
            </ion-card>
          </swiper-slide>

        </swiper-container>
      </ion-col>

    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-toolbar class="ion-no-border">
      <ion-title slot="start">{{'reservation'|translate}}</ion-title>
    </ion-toolbar>

    <ion-row style="margin-bottom: 15px">
      <ion-col size="12" (click)="goToSchedule()">
        <img src="../../../assets/img/wz/booking.png" style="height: 170px; width: 100%; border-radius: 20px 20px 0 0; border-top:3px solid #eee"/>

        <ion-item class="item" lines="none">
          <ion-label>
            <p class="bold primary" style="font-size: 18px">
              {{'schedule_game'|translate}}
            </p>
            <p style="white-space: normal">{{'schedule_game_text'|translate}}</p>

          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
