<ion-header class="ion-no-border">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Support</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list class="ion-margin">

    <ion-item-group>

      <ion-item lines="none" (click)="contact()">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="../../../assets/icon/setting/mail.svg" />
        </ion-avatar>
        <ion-label>
          <h2>{{'contact_us'|translate}}</h2>
        </ion-label>
      </ion-item>

      <ion-item lines="none" (click)="cgv()">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="../../../assets/icon/setting/reader.svg" />
        </ion-avatar>
        <ion-label>
          <h2>{{'policy'|translate}}</h2>
        </ion-label>
      </ion-item>

      <ion-item lines="none" (click)="cgu()">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="../../../assets/icon/setting/reader.svg" />
        </ion-avatar>
        <ion-label>
          <h2><h2>{{'usage_policy'|translate}}</h2></h2>
        </ion-label>
      </ion-item>

    </ion-item-group>

    <ion-item-group>

      <ion-item lines="none" (click)="askLanguage()">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="../../../assets/icon/setting/language.svg" />
        </ion-avatar>
        <ion-label>
          <h2>{{'language'|translate}}</h2>
        </ion-label>
      </ion-item>

      <ion-item lines="none" (click)="shareApp()">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="../../../assets/icon/setting/share-social.svg" />
        </ion-avatar>
        <ion-label>{{'share_app'|translate}}</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="../../../assets/icon/setting/information-circle.svg" />
        </ion-avatar>
        <ion-label>
          <ion-label>
            <h2>Version</h2>
            <p>{{version}}</p>
          </ion-label>
        </ion-label>
      </ion-item>
    </ion-item-group>


  </ion-list>
</ion-content>
