ion-list{
  background: transparent !important;
}

ion-item-group{
  margin-bottom: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #fff;
  padding: 10px 0;

  ion-item-divider{
    background: transparent !important;

    ion-label{
      font-weight: bold;
      color:var(--ion-color-primary)
    }
  }

  ion-item:first-child{
    border-radius: 20px 20px 0 0;
  }

  ion-item:last-child{
    border-radius: 0 0 20px 20px;
  }

  ion-item{
    margin-bottom: 5px;
    ion-avatar{
      img{
        background: var(--ion-color-primary);
        padding: 10px;
      }
    }
  }
}
