<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'my_orders'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="{{'pull_down'|translate}}"
      refreshingSpinner="circles"
      refreshingText="{{'loading'|translate}}...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-searchbar animated="true" placeholder="{{'search'|translate}}" [(ngModel)]="search" type="text" (ionInput)="getItems($event)"></ion-searchbar>
    <ion-card *ngFor="let m of orders" class="radius">
      <ion-card-header (click)="goToProduct(m.product)">
        <ion-card-title class="black">{{m.product.name}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{'order_at'|translate}} <span class="bold primary">{{m.created_at|dateFormat}}</span><br>
        {{'delivery_schedule_at'|translate}} <span class="bold primary">{{m.delivery_date|dateFormat}}</span><br>
        {{'quantity'|translate}} : <span class="bold primary">{{m.quantity}}</span> <br>
        {{'price'|translate}} : <span class="bold primary">{{m.price_was|priceFormat}} U</span><br>
        {{'is_delivery'|translate}} : <span class="bold primary">{{m.is_delivery|status}}</span>
      </ion-card-content>

      <ion-card-content>
        {{'status'|translate}} : <span class="bold black">{{m.status|status}}</span> <br>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
