<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" style="color: #fff;"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="radius">
    <ion-card-header>
      <ion-card-title class="primary">{{'what_to_talk'|translate}}</ion-card-title>
    </ion-card-header>

    <ion-card-content class="black" style="font-size: 12px;">
      {{'ask_problem_text'|translate}}
    </ion-card-content>
  </ion-card>

  <ion-card class="radius">
    <ion-card-content>
      <ion-textarea type="text"
                    style="margin-top: 5px; min-height: 40px"
                    [(ngModel)]="title" labelPlacement="stacked"
                    placeholder="{{'title'|translate}}"
                    [autoGrow]="true"
                    inputmode="text"
                    [counter]="true"
                    maxlength="180"
                    [counterFormatter]="customCounterFormatter"
      ></ion-textarea>
    </ion-card-content>
  </ion-card>

  <ion-card class="radius">
    <ion-card-content>

      <ion-textarea type="text"
                    style="min-height: 150px"
                    [(ngModel)]="description" labelPlacement="stacked"
                    placeholder="{{'my_problem'|translate}}"
                    [autoGrow]="true"
                    inputmode="text"
                    [counter]="true"
                    maxlength="4000"
                    [counterFormatter]="customCounterFormatter"
      ></ion-textarea>

      <ion-button expand="block" color="secondary" shape="round" (click)="save()"
        style="margin-top: 5px;"
      >{{'save'|translate}}</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content *ngIf="isSave">
      Votre problème a été soumis pour validation. Vous recevrez une notification lorsque celui-ci sera approuvé
    </ion-card-content>
  </ion-card>
</ion-content>
