.video{
  height: 200px !important;

  img.blur{
    filter: blur(4px);
    -webkit-filter: blur(4px);
    max-height: 300px;
  }

  .info{
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    height:100%;
    width: 100%;
    text-align: center;
    display : flex;
    align-items : center;
    justify-content : center;
  }

  ion-item {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 5px;
    background: var(--ion-color-primary);
  }
}

