<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'my_account'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="{{'pull_to_refresh'|translate}}"
      refreshingSpinner="circles"
      refreshingText="{{'loading'|translate}}...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="video" style="height: 200px">
    <img class="blur" src="{{user.person.image}}">
    <div class="info">
      <ion-item class="infos shadow" color="primary" lines="none">
        <ion-avatar slot="start">
          <img src="{{user.person.image}}">
        </ion-avatar>
        <ion-label>
          <h3 class="bold ion-text-capitalize">{{user.person.full_name}}</h3>

          <p> {{user.sponsor_code}}
            <span *ngIf="is_subscription"> | {{user.subscription.pack.name}} </span></p>

          <p *ngIf="user.unit>0"> {{user.unit|priceFormat}} <ion-icon name="aperture-outline"></ion-icon>
            <span *ngIf="user.hour>0"> - {{user.hour}} <ion-icon name="time-outline"></ion-icon></span></p>
        </ion-label>
        <ion-icon (click)="editUser()" name="pencil" slot="end"></ion-icon>
      </ion-item>
    </div>
  </div>


  <ion-grid class="info-tournament">
    <ion-row>
      <ion-col size="4" (click)="goToRecharge()">
        <div class="radius">
          <span>
          <ion-icon class="big" name="aperture-outline"></ion-icon>
          </span>
          <br>
          <span>{{'my_points'|translate}}</span>
        </div>
      </ion-col>
      <ion-col size="4" (click)="goToMyTournament()">
        <div class="radius">
          <span>
          <ion-icon class="big" name="trophy-outline"></ion-icon>
          </span>
          <br>
          <span>{{'my_tournaments'|translate}}</span>
        </div>
      </ion-col>
      <ion-col size="4" (click)="goToMyTombola()">
        <div class="radius">
          <span>
          <ion-icon class="big" name="dice-outline"></ion-icon>
          </span>
          <br>
          <span>{{'my_tombolas'|translate}}</span>
        </div>
      </ion-col>
      <ion-col *ngIf="settings.fidelity=='enable'" size="4" (click)="goToFidelity()">
        <div class="radius">
          <span>
          <ion-icon class="big" name="ticket-outline"></ion-icon>
          </span>
          <br>
          <span>{{'my_fidelity'|translate}}</span>
        </div>
      </ion-col>
      <ion-col size="4" (click)="goToMyOrder()">
        <div class="radius">
          <span>
          <ion-icon class="big" name="cart-outline"></ion-icon>
          </span>
          <br>
          <span>{{'my_orders'|translate}}</span>
        </div>
      </ion-col>
      <ion-col size="4" (click)="goToMySchedule()">
        <div class="radius">
          <span>
          <ion-icon class="big" name="calendar-outline"></ion-icon>
          </span>
          <br>
          <span>{{'my_reservations'|translate}}</span>
        </div>
      </ion-col>
      <ion-col *ngIf="settings.ios.subscription=='enable'" size="4" (click)="goToSubscription()">
        <div class="radius">
          <span>
          <ion-icon class="big" name="diamond-outline"></ion-icon>
          </span>
          <br>
          <span>{{'my_subscription'|translate}}</span>
        </div>
      </ion-col>
      <ion-col size="4" (click)="presentAlert()">
        <div class="radius">
          <span>
          <ion-icon class="big" name="key-outline"></ion-icon>
          </span>
          <br>
          <span>{{'change_password'|translate}}</span>
        </div>
      </ion-col>
      <ion-col size="4" (click)="deleteUser()">
        <div class="radius bg-red">
          <span>
          <ion-icon class="big" name="trash-outline"></ion-icon>
          </span>
          <br>
          <span>{{'delete_account'|translate}}</span>
        </div>
      </ion-col>
      <ion-col size="4" (click)="logout()">
        <div class="radius bg-dark">
          <span>
          <ion-icon class="big" name="log-out-outline"></ion-icon>
          </span>
          <br>
          <span>{{'logout'|translate}}</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <a id="contact" style="display: none" href="mailto:thewarzone237@gmail.com"></a>

</ion-content>
