<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{titre}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="custom" style="padding-top: 20px">

    <ion-textarea [(ngModel)]="content" placeholder="{{'description'|translate}}"></ion-textarea>

    <ion-button (click)="saveSuggestion()" icon-start expand="block" color="primary">
      {{'save'|translate}}
    </ion-button>
  </div>

</ion-content>

