<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="{{'pull_down'|translate}}"
      refreshingSpinner="circles"
      refreshingText="Chargement..">
    </ion-refresher-content>
  </ion-refresher>

  <ion-buttons slot="start" style="display: none;">
    <ion-back-button defaultHref="/" id="backButton"></ion-back-button>
  </ion-buttons>

  <ion-fab vertical="top" horizontal="start" slot="fixed" style="margin-top:25px">
    <ion-fab-button color="primary" size="small" (click)="backToPreviousPage()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <div class="white-black">
    <ion-skeleton-text *ngIf="isLoading" animated style="height: 350px"></ion-skeleton-text>

    <div *ngIf="!isLoading" >
      <img style="height: 350px; width: 100%" src="{{tournament.image}}" />

    </div>

    <div class="presentation">
      <ion-card-header>
        <ion-skeleton-text *ngIf="isLoading" animated ></ion-skeleton-text>

        <ion-card-title *ngIf="!isLoading" style="font-size: 30px; color:var(--ion-color-danger);font-weight: bold">
          <span style="color:#000 !important;">Tournoi</span> {{tournament.name}}
        </ion-card-title>
        <ion-card-title *ngIf="!isLoading" style="font-size: 20px; color:var(--ion-color-danger);font-weight: bold">
          {{tournament.winner_price |priceFormat}} FCFA <span  style="color:#000 !important;">à gagner</span>
        </ion-card-title>
        <ion-card-subtitle  style="color: var(--ion-color-dark)">

          <span [innerHTML]="tournament.description"></span>
          <br>
          <br>
          <span style="text-transform: uppercase;
          font-weight: bold; text-align: center;
          color:var(--ion-color-primary)" *ngIf="!can_subscribe">
            Vous êtes déjà enregistré pour ce tournoi
          </span>
        </ion-card-subtitle>


        <ion-skeleton-text *ngIf="isLoading" animated style="width: 20%"></ion-skeleton-text>
        <ion-skeleton-text *ngIf="isLoading" animated style="width: 10%"></ion-skeleton-text>
      </ion-card-header>

      <div class="divider"></div>
      <ion-card-content *ngIf="!isLoading"  style="padding-top:10px">
        <ion-row>
          <ion-col size="8" style="font-size: 14px; font-weight: bold;">{{'Date'|translate}}</ion-col>
          <ion-col size="4" style="font-size: 14px; text-align: right; font-weight: bold; color:var(--ion-color-primary)">{{tournament.start_at|dateFormat}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8" style="font-size: 14px; font-weight: bold;">{{'Min. de participant'|translate}}</ion-col>
          <ion-col size="4" style="font-size: 14px; text-align: right; font-weight: bold; color:var(--ion-color-primary)">{{tournament.min_participant|priceFormat}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8" style="font-size: 14px; font-weight: bold;">{{'Max. de participant'|translate}}</ion-col>
          <ion-col size="4" style="font-size: 14px; text-align: right; font-weight: bold; color:var(--ion-color-primary)">{{tournament.max_participant|priceFormat}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8" style="font-size: 14px; font-weight: bold;">{{'Frais de participation'|translate}}</ion-col>
          <ion-col size="4" style="font-size: 14px; text-align: right; font-weight: bold; color:var(--ion-color-primary)">{{tournament.fees|priceFormat}} FCFA</ion-col>
        </ion-row>
      </ion-card-content>



    </div>

  </div>
  <ion-button style="display: none" id="open-modal-rank" expand="block">Open Sheet Modal</ion-button>

  <ion-modal #modalRank trigger="open-modal-rank" [initialBreakpoint]="0.75" [breakpoints]="[0, 0.75]">
    <ng-template>
      <ion-content>
        <ion-grid style="margin-top: 10px;">
          <ion-card-title *ngIf="!isLoading" style="font-size: 30px; color:var(--ion-color-danger);font-weight: bold; text-align: center">
            <span style="color:#000 !important;">Tournoi</span> {{tournament.name}}
          </ion-card-title>
          <ion-card-title *ngIf="!isLoading" style="font-size: 20px; color:var(--ion-color-danger);font-weight: bold; text-align: center">
            {{tournament.winner_price |priceFormat}} FCFA <span  style="color:#000 !important;">à gagner</span>
          </ion-card-title>
        </ion-grid>

        <div class="custom ion-text-center" style="margin-top: 15px">
          <div>{{tournament.fees|priceFormat}} FCFA à payer par Orange Money ou MTN Mobile Money</div>
          <br>
          <small>{{'payment_phone'|translate}}</small>
          <ion-input
            [(ngModel)]="phone"
            type="number"
            (ionChange)="checkNumber()"
            min="{{MIN}}"
            max="{{MAX}}"
            placeholder="{{'phone_number'|translate}}"></ion-input>
          <small *ngIf="!is_phone">{{'phone_range_alert'|translate}} <span class="danger">{{MIN|priceFormat}}</span> {{'and'|translate}} <span class="danger">{{MAX|priceFormat}}</span></small>
        </div>
        <div class="ion-text-center">
          <ion-button [disabled]="!is_phone " (click)="goBuyPack()">
            <ion-icon name="chevron-forward-outline"></ion-icon> &nbsp; {{'Réserver'|translate}} &nbsp;<ion-icon name="chevron-back-outline"></ion-icon>
          </ion-button>
        </div>
        <div class="ion-text-center">
          <a (click)="support()">
            <small>{{'contact_support'|translate}}</small>
          </a>
        </div>

      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>

<ion-footer class="ion-text-center" *ngIf="settings.android.subscription=='enable'">
  <ion-button shape="round" *ngIf="can_subscribe" (click)="showSchedule()">Réserver</ion-button>
</ion-footer>
