<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="{{'pull_down'|translate}}"
      refreshingSpinner="circles"
      refreshingText="{{'loading'|translate}}...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-buttons slot="start" style="display: none;">
    <ion-back-button defaultHref="/" id="backButton"></ion-back-button>
  </ion-buttons>

  <ion-fab vertical="top" horizontal="start" slot="fixed" style="margin-top:25px">
    <ion-fab-button color="primary" size="small" (click)="backToPreviousPage()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <div class="white-black">
    <ion-skeleton-text *ngIf="isLoading" animated style="height: 350px"></ion-skeleton-text>

    <div *ngIf="!isLoading" >
      <img style="height: 350px; width: 100%" src="{{tournament.image}}" />

    </div>

    <div class="presentation">
      <ion-card-header>
        <ion-skeleton-text *ngIf="isLoading" animated ></ion-skeleton-text>

        <ion-card-title *ngIf="!isLoading" style="font-size: 30px; color:var(--ion-color-danger);font-weight: bold">
          <span style="color:#000 !important;">{{'tournament'|translate}}</span> {{tournament.name}}
        </ion-card-title>
        <ion-card-title *ngIf="!isLoading" style="font-size: 20px; color:var(--ion-color-danger);font-weight: bold">
          {{tournament.winner_price |priceFormat}} FCFA <span  style="color:#000 !important;">{{'to_win'|translate}}</span>
        </ion-card-title>
        <ion-card-subtitle  style="color: var(--ion-color-dark)">

          <span [innerHTML]="tournament.description"></span>
        </ion-card-subtitle>


        <ion-skeleton-text *ngIf="isLoading" animated style="width: 20%"></ion-skeleton-text>
        <ion-skeleton-text *ngIf="isLoading" animated style="width: 10%"></ion-skeleton-text>
      </ion-card-header>

      <div class="divider"></div>
      <ion-card-content *ngIf="!isLoading"  style="padding-top:10px">
        <ion-row>
          <ion-col size="8" style="font-size: 14px; font-weight: bold;">{{'date'|translate}}</ion-col>
          <ion-col size="4" style="font-size: 14px; text-align: right; font-weight: bold; color:var(--ion-color-primary)">{{tournament.start_at|dateFormat}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8" style="font-size: 14px; font-weight: bold;">{{'min_participant'|translate}}</ion-col>
          <ion-col size="4" style="font-size: 14px; text-align: right; font-weight: bold; color:var(--ion-color-primary)">{{tournament.min_participant|priceFormat}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8" style="font-size: 14px; font-weight: bold;">{{'min_participant'|translate}}</ion-col>
          <ion-col size="4" style="font-size: 14px; text-align: right; font-weight: bold; color:var(--ion-color-primary)">{{tournament.max_participant|priceFormat}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8" style="font-size: 14px; font-weight: bold;">{{'fees'|translate}}</ion-col>
          <ion-col size="4" style="font-size: 14px; text-align: right; font-weight: bold; color:var(--ion-color-primary)">{{tournament.fees|priceFormat}} U</ion-col>
        </ion-row>
      </ion-card-content>

      <ion-card-content *ngIf="texte!=''">
        <ion-row>
          <ion-col size="12" style="text-align: center; text-transform: uppercase; font-weight: bold; color:var(--ion-color-primary)">
            {{texte}}
          </ion-col>
        </ion-row>
      </ion-card-content>


    </div>

  </div>

</ion-content>

<ion-footer class="ion-text-center">
  <ion-button *ngIf="can_subscribe" (click)="showSchedule()">{{'participate'|translate}}</ion-button>
</ion-footer>
