<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="{{'pull_down'|translate}}"
      refreshingSpinner="circles"
      refreshingText="{{'loading'|translate}}...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-buttons slot="start" style="display: none;">
    <ion-back-button defaultHref="/" id="backButton"></ion-back-button>
  </ion-buttons>

  <ion-fab vertical="top" horizontal="start" slot="fixed" style="margin-top:25px">
    <ion-fab-button color="primary" size="small" (click)="backToPreviousPage()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <div class="white-black">
    <ion-skeleton-text *ngIf="isLoading" animated style="height: 350px"></ion-skeleton-text>

    <div *ngIf="!isLoading" >
      <img style="height: 350px; width: 100%" src="{{tournament.image}}" />

    </div>

    <div class="presentation" style="margin-bottom: 30px">
      <ion-card-header style="flex-direction:column">
        <ion-skeleton-text *ngIf="isLoading" animated ></ion-skeleton-text>


        <ion-row *ngIf="!isLoading" class="info-tournament">
          <ion-col>
            <span>
              <ion-icon name="time-outline"></ion-icon>
            </span>
            <br>
            <span class="big">{{tournament.jour}}</span>
            <br>
            <span style="text-transform: capitalize">{{tournament.mois}}</span>
          </ion-col>
          <ion-col *ngIf="!is_event">
            <span>
              <ion-icon name="trophy-outline"></ion-icon>
            </span>
            <br>
            <span class="big">{{tournament.winner_price|priceFormat}}</span>
            <br>
            <span>FCFA</span>
          </ion-col>
          <ion-col (click)="listParticipant()">
            <span>
              <ion-icon name="people-outline"></ion-icon>
            </span>
            <br>
            <span class="big">{{participants}}</span>
            <br>
            <span>Participant<span *ngIf="participants>1">s</span></span>
          </ion-col>
        </ion-row>

        <ion-card-title *ngIf="!isLoading" style="font-size:25px;font-weight: bold">
          {{tournament.name}}
          <br>
          <span style="font-size: 20px; font-weight: normal" *ngIf="!is_event">{{'fees'|translate}} :
            <span class="bold primary" *ngIf="!is_subscription">{{tournament.fees|priceFormat}} U</span>
            <span class="bold primary" *ngIf="is_subscription">{{tournament.fees*0.8|priceFormat}} U</span>
          </span>
          <br *ngIf="!is_event">
          <span style="font-size: 15px; font-weight: normal" *ngIf="!is_event">{{'status'|translate}} :
            <span class="bold primary" *ngIf="tournament.min_participant>participants">{{'pending_participant'|translate}}</span>
            <span class="bold primary" *ngIf="tournament.min_participant<=participants">{{'confirmed'|translate}}</span>
          </span>
        </ion-card-title>


        <ion-card-subtitle  style="color: var(--ion-color-dark); text-transform: none; font-weight: normal; font-size:14px " [innerHTML]="tournament.description">
        </ion-card-subtitle>


        <ion-skeleton-text *ngIf="isLoading" animated style="width: 20%"></ion-skeleton-text>
        <ion-skeleton-text *ngIf="isLoading" animated style="width: 10%"></ion-skeleton-text>

        <ion-card-content *ngIf="texte!=''" class="ion-no-padding">
          <ion-row>
            <ion-col size="12" style="text-align: center; text-transform: uppercase; font-weight: bold; color:var(--ion-color-primary)">
              {{texte}}
              <br>
              <span style="color:#000" *ngIf="!is_event">{{'your_number'|translate}} <strong>"{{number}}"</strong></span>
            </ion-col>
          </ion-row>
        </ion-card-content>

        <ion-card-content class="ion-no-padding" *ngIf="!is_user">
          <ion-row>
            <ion-col size="12" style="text-align: center; text-transform: uppercase; font-weight: bold; color:var(--ion-color-warning)">
              {{'no_login_tournament'|translate}}
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card-header>

      <div class="ion-text-center" *ngIf="is_user && can_subscribe">
        <ion-button (click)="openModal()">{{'participate'|translate}}</ion-button>
      </div>
      <div class="ion-text-center" *ngIf="!is_user">
        <ion-button color="tertiary" (click)="login()">{{'login'|translate}}</ion-button>
      </div>
    </div>

  </div>



  <ion-button style="display: none" id="open-modal" expand="block">Open Sheet Modal</ion-button>

  <ion-modal #modalRank trigger="open-modal" [initialBreakpoint]="0.75" [breakpoints]="[0,0.5,0.75, 1]">
    <ng-template>
      <ion-content>
        <ion-toolbar *ngIf="!is_event">
          <ion-title>{{'participate_tournament'|translate}}</ion-title>
        </ion-toolbar>
        <ion-toolbar *ngIf="is_event">
          <ion-title>{{'participate_event'|translate}}</ion-title>
        </ion-toolbar>
        <ion-grid style="margin-top: 10px;">
          <ion-row class="info-tournament">
            <ion-col>
            <span>
              <ion-icon name="time-outline"></ion-icon>
            </span>
              <br>
              <span class="big">{{tournament.jour}}</span>
              <br>
              <span style="text-transform: capitalize">{{tournament.mois}}</span>
            </ion-col>
            <ion-col *ngIf="!is_event">
            <span>
              <ion-icon name="trophy-outline"></ion-icon>
            </span>
              <br>
              <span class="big">{{tournament.winner_price|priceFormat}}</span>
              <br>
              <span>FCFA</span>
            </ion-col>
            <ion-col>
            <span>
              <ion-icon name="people-outline"></ion-icon>
            </span>
              <br>
              <span class="big">{{participants}}</span>
              <br>
              <span>Participant<span *ngIf="participants>1">s</span></span>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid class="custom" *ngIf="tournament.is_cod">
          <ion-row>
            <ion-col>
              <ion-input type="text" [(ngModel)]="cod_id" [ngModelOptions]="{standalone: true}" placeholder="CODM UID" ></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-input type="text" [(ngModel)]="cod_name" [ngModelOptions]="{standalone: true}" placeholder="CODM Pseudo" ></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              Photo de vous avec votre CNI/récépissé
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" fill="outline" (click)="selectImage('take')">{{'take_image'|translate}}</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" fill="outline" (click)="selectImage('choose')">{{'choose_image'|translate}}</ion-button>
            </ion-col>
            <ion-col size="12" *ngIf="image!=''">
              <ion-img [src]="image" style="width: 100%" alt=""></ion-img>
            </ion-col>
          </ion-row>

        </ion-grid>

        <ion-grid>
          <ion-row *ngIf="!is_subscription && !is_event">
            <ion-col size="8">
              {{'reduce_member_text'|translate}}
            </ion-col>
            <ion-col size="4">
              <ion-button color="tertiary" (click)="becomeMember()" [innerHTML]="'become_member'|translate"></ion-button>
            </ion-col>
          </ion-row>


          <ion-row *ngIf="!is_event">
            <ion-col size="12" *ngIf="!is_subscription">
              <ion-button expand="block" (click)="askSchedule()">{{'participate'|translate}} - {{tournament.fees|priceFormat}} U</ion-button>
            </ion-col>
            <ion-col size="12" *ngIf="is_subscription">
              <ion-button expand="block" (click)="askSchedule()">{{'participate'|translate}} - {{tournament.fees*0.8|priceFormat}} U <span style="text-decoration: line-through"> ({{tournament.fees|priceFormat}}U)</span></ion-button>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="is_event">
            <ion-col size="12">
              <ion-button expand="block" (click)="askSchedule()">{{'participate'|translate}}</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
