<ion-header class="ion-no-border">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'reset_password'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-card class="radius">
      <ion-card-content>
        {{'reset_text'|translate}}
      </ion-card-content>

      <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="{{'email'|translate}}"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="reset()" color="warning">{{'validate'|translate}}</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>

    </ion-card>
  </ion-grid>
</ion-content>
