<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'reset_password'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="custom">
    <ion-row>
      <ion-col size="12">
        {{'reset_password_text'|translate}}
      </ion-col>
    </ion-row>
    <div class="divider"></div>
    <ion-row>
      <ion-col>
        <ion-input type="email" placeholder="{{'email'|translate}}"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
