<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{titre|translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss('close-modal')">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="custom">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="{{'pull_down'|translate}}"
      refreshingSpinner="circles"
      refreshingText="{{'loading'|translate}}...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>

    <ion-row>
      <ion-col>
        {{'product'|translate}} : <strong class="primary">{{objet.name}}</strong>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-textarea [(ngModel)]="content" autocapitalize="sentence" [ngModelOptions]="{standalone: true}" placeholder="{{'testimonial'|translate}}"></ion-textarea>
      </ion-col>
    </ion-row>

  </ion-grid>



</ion-content>
<ion-footer class="ion-text-center" >
  <ion-button (click)="save()" color="primary">
    <ion-icon name="chevron-forward-outline"></ion-icon> &nbsp; {{'save'|translate}} &nbsp;<ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
</ion-footer>
