<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{'games'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-item class="item" lines="none" (click)="goToGame(3)">
      <ion-thumbnail slot="start" style="border-radius: 20px !important; padding: 5px; background: #fff">
        <img src="../../../assets/img/wz/vr.png" alt="">
      </ion-thumbnail>
      <ion-label>
        <p class="bold primary" style="font-size: 18px">
          Réalité virtuelle
        </p>

      </ion-label>
    </ion-item>

    <ion-item class="item" lines="none" (click)="goToGame(2)">
      <ion-thumbnail slot="start" style="border-radius: 20px !important;padding: 5px; background: #fff">
        <img src="../../../assets/img/wz/ps5.jpg" alt="">
      </ion-thumbnail>
      <ion-label>
        <p class="bold primary" style="font-size: 18px">
          PS5
        </p>

      </ion-label>
    </ion-item>

    <ion-item class="item" lines="none" (click)="goToGame(1)">
      <ion-thumbnail slot="start" style="border-radius: 20px !important; padding: 5px; background: #fff">
        <img src="../../../assets/img/wz/ps4.jpg" alt="">
      </ion-thumbnail>
      <ion-label>
        <p class="bold primary" style="font-size: 18px">
          PS4
        </p>

      </ion-label>
    </ion-item>

    <ion-item class="item" lines="none" (click)="goToGame(0)">
      <ion-thumbnail slot="start" style="border-radius: 20px !important; padding: 5px; background: #fff">
        <img src="../../../assets/img/wz/wz_blanc.svg" alt="">
      </ion-thumbnail>
      <ion-label>
        <p class="bold primary" style="font-size: 18px">
          Mini-Jeux WarZone
        </p>

      </ion-label>
    </ion-item>


  </ion-grid>

</ion-content>
