<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'stockist'|translate}}s <span *ngIf="town_id!=0">{{texte}}</span></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="newStockist()">
        <ion-icon name="add" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="{{'pull_down'|translate}}"
      refreshingSpinner="circles"
      refreshingText="{{'loading'|translate}}...">
    </ion-refresher-content>
  </ion-refresher>


  <ion-row>
    <ion-col size="9">
      <ion-searchbar animated="true" placeholder="{{'search'|translate}}" [(ngModel)]="search" type="text" (ionInput)="getItems($event)"></ion-searchbar>
    </ion-col>
    <ion-col size="3" style="padding-top: 14px">
      <ion-select [(ngModel)]="town_id" [ngModelOptions]="{standalone: true}"
                  (ionChange)="setTown($event)"
                  [interfaceOptions]="{header:'town'|translate,subheader:'choose_town'|translate}" interface="action-sheet"
                  okText="{{'ok'|translate}}" cancelText="{{'cancel'|translate}}" placeholder="{{'town'|translate}}">
        <ion-select-option value="0">{{'all_town'|translate}}</ion-select-option>
        <ion-select-option *ngFor="let c of towns" value="{{c.id}}">{{c.name}}</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <ion-grid *ngIf="is_loading">
    <ion-list class="proposal" style="padding: 5px">
      <ion-item lines="none">
        <ion-label>
          <h3 class="primary"><ion-skeleton-text *ngIf="is_loading" animated style="width: 70%;"></ion-skeleton-text></h3>
          <p style="white-space: normal"><ion-skeleton-text *ngIf="is_loading" animated style="width: 50%;"></ion-skeleton-text> </p>
          <p style="white-space: normal"><ion-skeleton-text *ngIf="is_loading" animated style="width: 100%; height: 30px"></ion-skeleton-text></p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <h3 class="primary"><ion-skeleton-text *ngIf="is_loading" animated style="width: 60%;"></ion-skeleton-text></h3>
          <p style="white-space: normal"><ion-skeleton-text *ngIf="is_loading" animated style="width: 80%;"></ion-skeleton-text> </p>
          <p style="white-space: normal"><ion-skeleton-text *ngIf="is_loading" animated style="width: 100%; height: 30px"></ion-skeleton-text></p>
        </ion-label>
      </ion-item>

    </ion-list>
  </ion-grid>
  
  <ion-grid *ngIf="!is_loading">
    <ion-list class="proposal" style="padding: 5px">
      <ion-item lines="none" *ngFor="let s of stockists">
        <ion-label>
          <h3 class="primary">{{s.name}}</h3>
          <p style="white-space: normal">{{'phone'|translate}} : <a href="tel:{{s.phone}}"><span>{{s.phone|priceFormat}}</span></a></p>
          <p style="white-space: normal"> <strong>{{s.locality}}, {{s.district}}</strong> - <span>{{s.town.name}}</span> </p>
        </ion-label>
      </ion-item>

    </ion-list>
    <app-oups-info [text]="'no_stockist'" *ngIf="!is_loading && stockists.length<1"></app-oups-info>
  </ion-grid>

</ion-content>

<ion-footer class="ion-text-center" >
  <ion-button (click)="newStockist()" shape="round" size="small" fill="outline" color="primary">
    {{'add_stockist'|translate}}
  </ion-button>
</ion-footer>
