<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>{{'my_subscription'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="{{'pull_to_refresh'|translate}}"
      refreshingSpinner="circles"
      refreshingText="{{'loading'|translate}}...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-progress-bar *ngIf="is_loading" type="indeterminate"></ion-progress-bar>

  <ion-grid class="grid" *ngIf="!is_loading && subscription_status.is_subscription" >
    <ion-row class="ticket-row shadow">
      <ion-col>
        <div class="subtexts" style="margin-top: 10px;">
          <ion-row>
            <ion-col>
              <img src="{{subscription.pack.image}}" class="radius" alt="" style="height: 340px; width: 100%">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4" class="bold">{{'expire_at'|translate}} :</ion-col>
            <ion-col class="ion-text-right primary" *ngIf="!(subscription_status.is_subscription && subscription_status.is_paid && !subscription_status.is_actived)">{{subscription.expired_at}}</ion-col>
            <ion-col class="ion-text-right danger" *ngIf="subscription_status.is_subscription && subscription_status.is_paid && !subscription_status.is_actived">{{subscription.expired_at}}</ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="radius" *ngIf="!is_loading && !subscription_status.is_subscription">
    <ion-card-content>
      <app-oups-info [text]="'no_subscription'" *ngIf="!is_loading && !subscription_status.is_subscription"></app-oups-info>
    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer *ngIf="!is_loading" class="ion-no-border ion-text-center">
  <ion-button *ngIf="subscription_status.is_subscription && subscription_status.is_paid" (click)="goToSubscription()">
    <span *ngIf="subscription_status.is_actived">{{'edit_subscription'|translate}}</span>
    <span *ngIf="!subscription_status.is_actived">{{'active_subscription'|translate}}</span>
  </ion-button>

  <ion-button *ngIf="!subscription_status.is_subscription" (click)="goToSubscription()">
    <span>{{'subscribe_subscription'|translate}}</span>
  </ion-button>

  <ion-button color="secondary" *ngIf="subscription_status.is_subscription && !subscription_status.is_paid">
    <span>{{'contact_support'|translate}}</span>
  </ion-button>
</ion-footer>
