// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #c31713;
  --ion-color-primary-rgb: 195,23,19;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #ac1411;
  --ion-color-primary-tint: #c92e2b;


  /** secondary **/
  --ion-color-secondary: #000;
  --ion-color-secondary-rgb: 0,0,0;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #000000;
  --ion-color-secondary-tint: #1a1a1a;

  /** tertiary **/
  --ion-color-tertiary: #000;
  --ion-color-tertiary-rgb: 0,0,0;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #000000;
  --ion-color-tertiary-tint: #1a1a1a;

  /** success **/
  --ion-color-success: #c31713;
  --ion-color-success-rgb: 195,23,19;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #ac1411;
  --ion-color-success-tint: #c92e2b;

  /** warning **/
  --ion-color-warning: #FDB614;
  --ion-color-warning-rgb: 253,182,20;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #dfa012;
  --ion-color-warning-tint: #fdbd2c;

  --ion-color-danger: #E01F26;
  --ion-color-danger-rgb: 224,31,38;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #c51b21;
  --ion-color-danger-tint: #e3353c;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #c31713;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

.ios body {
  --ion-background-color: #fff;
  --ion-background-color-rgb: 255,255,255;

  --ion-text-color: #000;
  --ion-text-color-rgb: 0,0,0;

  --ion-color-step-50: #FFF;
  --ion-color-step-100: #FFF;
  --ion-color-step-150: #fff;
  --ion-color-step-200: #fff;
  --ion-color-step-250: #fff;
  --ion-color-step-300: #979797;
  --ion-color-step-350: #de9c9b;
  --ion-color-step-400: #747474;
  --ion-color-step-450: #7f7f7f;
  --ion-color-step-500: #8b8b8b;
  --ion-color-step-550: #979797;
  --ion-color-step-600: #a2a2a2;
  --ion-color-step-650: #aeaeae;
  --ion-color-step-700: #b9b9b9;
  --ion-color-step-750: #c5c5c1;
  --ion-color-step-800: #d1d1d1;
  --ion-color-step-850: #dcdcdc;
  --ion-color-step-900: #e8e8e8;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: #FFF;

  --ion-card-background: #FFF;
}
