// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

  --femme : #ff8ab7;
  --homme : #00a8ff;
  
  /** primary **/
  --ion-color-primary: #34626C;
  --ion-color-primary-rgb: 52,98,108;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #2e565f;
  --ion-color-primary-tint: #48727b;

  --ion-color-secondary: #5A7D57;
  --ion-color-secondary-rgb: 90,125,87;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #4f6e4d;
  --ion-color-secondary-tint: #6b8a68;

  --ion-color-tertiary: #B85450;
  --ion-color-tertiary-rgb: 184,84,80;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #a24a46;
  --ion-color-tertiary-tint: #bf6562;


  /** success **/
  --ion-color-success: #022747;
  --ion-color-success-rgb: 195,23,19;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #ac1411;
  --ion-color-success-tint: #c92e2b;

  /** warning **/
  --ion-color-warning: #FDB614;
  --ion-color-warning-rgb: 253,182,20;
  --ion-color-warning-contrast: #000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #dfa012;
  --ion-color-warning-tint: #fdbd2c;

  --ion-color-danger: #022747;
  --ion-color-danger-rgb: 2,39,71;
  --ion-color-danger-contrast: #FDB614;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #02223e;
  --ion-color-danger-tint: #1b3d59;

  /** dark **/
  --ion-color-dark: #000000;
  --ion-color-dark-rgb: 0,0,0;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #000000;
  --ion-color-dark-tint: #1a1a1a;

  /** medium **/
  --ion-color-medium: #ac1411;
  --ion-color-medium-rgb: 172,20,17;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #97120f;
  --ion-color-medium-tint: #b42c29;


  /** light **/
  --ion-color-light: #fff;
  --ion-color-light-rgb: 255,255,255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;

  /** white **/
  --ion-color-white: #FFFfff;
  --ion-color-white-rgb: 255,255,255;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0,0,0;
  --ion-color-white-shade: #e0e0e0;
  --ion-color-white-tint: #ffffff;
}

.ios body {
  --ion-background-color: #fff;
  --ion-background-color-rgb: 255,255,255;

  --ion-text-color: #000;
  --ion-text-color-rgb: 0,0,0;

  --ion-color-step-50: #FFF;
  --ion-color-step-100: #FFF;
  --ion-color-step-150: #fff;
  --ion-color-step-200: #fff;
  --ion-color-step-250: #fff;
  --ion-color-step-300: #979797;
  --ion-color-step-350: #de9c9b;
  --ion-color-step-400: #747474;
  --ion-color-step-450: #7f7f7f;
  --ion-color-step-500: #8b8b8b;
  --ion-color-step-550: #979797;
  --ion-color-step-600: #a2a2a2;
  --ion-color-step-650: #aeaeae;
  --ion-color-step-700: #b9b9b9;
  --ion-color-step-750: #c5c5c1;
  --ion-color-step-800: #d1d1d1;
  --ion-color-step-850: #dcdcdc;
  --ion-color-step-900: #e8e8e8;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: #FFF;

  --ion-card-background: #FFF;
}
