<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{'your_notice'|translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-row>
    <ion-col>
      <div class="title primary">
        {{objet.title}}{{objet.name}}
      </div>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col>
      <div class="custom">
        <ion-icon size="large" color="primary" name="star-outline" *ngIf="note==0" (click)="note=1"></ion-icon>
        <ion-icon size="large" color="primary" name="star" *ngIf="note>=1" (click)="note=0"></ion-icon>
        <ion-icon size="large" color="primary" name="star-outline" *ngIf="note<=1" (click)="note=2"> </ion-icon>
        <ion-icon size="large" color="primary" name="star" *ngIf="note>=2" (click)="note=2"></ion-icon>
        <ion-icon size="large" color="primary" name="star-outline" *ngIf="note<=2" (click)="note=3"> </ion-icon>
        <ion-icon size="large" color="primary" name="star" *ngIf="note>=3" (click)="note=3"></ion-icon>
        <ion-icon size="large" color="primary" name="star-outline" *ngIf="note<=3" (click)="note=4"> </ion-icon>
        <ion-icon size="large" color="primary" name="star" *ngIf="note>=4" (click)="note=4"></ion-icon>
        <ion-icon size="large" color="primary" name="star-outline" *ngIf="note<=4" (click)="note=5"> </ion-icon>
        <ion-icon size="large" color="primary" name="star" *ngIf="note>=5" (click)="note=5"></ion-icon>

        <ion-textarea [(ngModel)]="content" placeholder="{{'review'|translate}}"></ion-textarea>


      </div>
    </ion-col>
  </ion-row>

  <ion-list style="padding: 15px">
    <ion-item *ngFor="let i of comments">
      <ion-avatar slot="end">
        <img src="{{i.user.partner.image}}" />
      </ion-avatar>
      <ion-label>
        <h3><span class="primary">{{i.user.partner.full_name}}</span>
          <span class="rank warning">
                  <ion-icon name="star" *ngIf="i.rating>0"></ion-icon>
                  <ion-icon name="star" *ngIf="i.rating>1"></ion-icon>
                  <ion-icon name="star" *ngIf="i.rating>2"></ion-icon>
                  <ion-icon name="star" *ngIf="i.rating>3"></ion-icon>
                  <ion-icon name="star" *ngIf="i.rating>4"></ion-icon>
                </span>
        </h3>
        <p style="white-space: normal">{{i.comment}}.</p>
        <small style="font-weight: lighter;font-size: 10px">{{'the'|translate}} {{i.created_at|dateFormat:true}}</small>
      </ion-label>
    </ion-item>
  </ion-list>



</ion-content>



<ion-footer class="ion-no-border ion-text-center">
  <ion-button primary [disabled]="note==0 || content==''" (click)="saveRank()">
    <ion-icon name="chevron-forward-outline"></ion-icon> &nbsp; {{'save'|translate}} &nbsp;<ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
</ion-footer>
