<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'store'|translate}} OTAKUGET+</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="{{'pull_down'|translate}}"
      refreshingSpinner="circles"
      refreshingText="{{'loading'|translate}}...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid *ngIf="is_loading" class="card-background-page">
    <ion-row>
      <ion-col size="6">
        <ion-card class="small">
          <ion-skeleton-text *ngIf="is_loading" animated style="width: 100%; height: 25vh; margin-top:0"></ion-skeleton-text>
          <div class="card-title"><ion-skeleton-text *ngIf="is_loading" animated style="width: 70%; margin-left: 20px; margin-right: 20px"></ion-skeleton-text> </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="small">
          <ion-skeleton-text *ngIf="is_loading" animated style="width: 100%; height: 25vh; margin-top:0"></ion-skeleton-text>
          <div class="card-title"><ion-skeleton-text *ngIf="is_loading" animated style="width: 70%; margin-left: 20px; margin-right: 20px"></ion-skeleton-text> </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!is_loading">
    <ion-searchbar animated="true" placeholder="{{'search'|translate}}" [(ngModel)]="search" type="text" (ionInput)="getItems($event)"></ion-searchbar>

    <ion-row class="card-background-page">
      <ion-col size="6" *ngFor="let p of products">
        <ion-card class="small" (click)="goTo(p)">
          <img src="{{p.image.url}}"/>
          <div class="card-title">{{p.name}} </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
