<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'module'|translate}}s</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="{{'pull_down'|translate}}"
      refreshingSpinner="circles"
      refreshingText="{{'loading'|translate}}...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>

    <ion-searchbar animated="true" placeholder="{{'search'|translate}}" [(ngModel)]="search" type="text" (ionInput)="getItems($event)"></ion-searchbar>

    <ion-list *ngIf="!is_loading">
      <ion-list-header>
        <ion-label class="title">{{title}}</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let m of modules" (click)="goToChapter(m)">
        <ion-label>{{m.title}}</ion-label>
      </ion-item>
      <app-oups-info [text]="'no_module'" *ngIf="!is_loading && modules.length<1"></app-oups-info>
    </ion-list>
  </ion-grid>
</ion-content>
