<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'become_partner'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-accordion-group expand="inset">
    <ion-accordion>
      <ion-item slot="header" color="light">
        <ion-label style="white-space: normal">{{'partner_title_1'|translate}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p [innerHTML]="'partner_p_1_1'|translate"></p>
        <div [innerHTML]="'partner_p_1_2'|translate"></div>
        <p><span [innerHTML]="'partner_p_1_3'|translate"></span>
          <br>
          <img src="../../../assets/img/longrich/60fd5715a48f4_client-longrich.png" alt="">
        </p>
        <div [innerHTML]="'partner_p_1_4'|translate"></div>

        <swiper-container [speed]="1000" [autoplay]="{enable:true,delay:7000}" >
          <swiper-slide>
            <img src="../../../assets/img/longrich/1.jpeg" alt="">
          </swiper-slide>
          <swiper-slide>
            <img src="../../../assets/img/longrich/2.jpeg" alt="">
          </swiper-slide>
          <swiper-slide>
            <img src="../../../assets/img/longrich/3.jpeg" alt="">
          </swiper-slide>
          <swiper-slide>
            <img src="../../../assets/img/longrich/4.jpg" alt="">
          </swiper-slide>
          <swiper-slide>
            <img src="../../../assets/img/longrich/5.jpg" alt="">
          </swiper-slide>
          <swiper-slide>
            <img src="../../../assets/img/longrich/6.jpg" alt="">
          </swiper-slide>
          <swiper-slide>
            <img src="../../../assets/img/longrich/7.jpg" alt="">
          </swiper-slide>
        </swiper-container>

        <div [innerHTML]="'partner_p_1_5'|translate"></div>


      </div>
    </ion-accordion>

    <ion-accordion>
      <ion-item slot="header" color="light">
        <ion-label style="white-space: normal">{{'partner_title_2'|translate}}</ion-label>
      </ion-item>

      <div class="ion-padding" slot="content">
        <div [innerHTML]="'partner_p_2_1'|translate"></div>

        <p><span [innerHTML]="'partner_p_2_2'|translate"></span>
          <img src="../../../assets/img/longrich/j.jpeg" alt="">
        </p>
        <div [innerHTML]="'partner_p_2_3'|translate"></div>

        <p>
          <span [innerHTML]="'partner_p_2_4'|translate"></span>
          <img src="../../../assets/img/longrich/v.jpg" alt="">
          <img src="../../../assets/img/longrich/vo.jpg" alt="">
          <img src="../../../assets/img/longrich/b.jpg" alt="">
          <img src="../../../assets/img/longrich/m.jpg" alt="">
        </p>
      </div>

    </ion-accordion>

    <ion-accordion>
      <ion-item slot="header" color="light">
        <ion-label style="white-space: normal">{{'partner_title_3'|translate}}</ion-label>
      </ion-item>

      <div class="ion-padding" slot="content" [innerHTML]="'partner_p_3_1'|translate">

      </div>
    </ion-accordion>

    <ion-accordion>
      <ion-item slot="header" color="light">
        <ion-label style="white-space: normal">{{'partner_title_4'|translate}}</ion-label>
      </ion-item>

      <div class="ion-padding custom" slot="content">
        <ion-row>
          <ion-col>
            {{'partner_p_4_1'|translate}}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-select [(ngModel)]="country_id" [ngModelOptions]="{standalone: true}" (ionChange)="setCountry()"
                        [interfaceOptions]="{header:'country'|translate,subheader:'choose_country'|translate}" interface="action-sheet"
                        okText="{{'ok'|translate}}" cancelText="{{'cancel'|translate}}" placeholder="{{'country'|translate}}">
              <ion-select-option *ngFor="let c of countries" value="{{c.id}}">{{c.name}}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="packs.length>0">
          <ion-col>
            <ion-select [(ngModel)]="pack_id" [ngModelOptions]="{standalone: true}" (ionChange)="partner()"
                        [interfaceOptions]="{header:'pack'|translate,subheader:'choose_grade'|translate}" interface="action-sheet"
                        okText="{{'ok'|translate}}" cancelText="{{'cancel'|translate}}" placeholder="{{'pack'|translate}}">
              <ion-select-option *ngFor="let p of packs" value="{{p.id}}">{{p.name}} - {{p.price|priceFormat}} {{country.currency}}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <div class="divider"></div>
        <ion-row *ngIf="is_pack">
          <ion-label class="primary bold">{{'advantage'|translate}}</ion-label>
        </ion-row>
        <div *ngIf="is_pack" class="tableau">
          <ion-row>
            <ion-col>{{'sponsor_bonus'|translate}}</ion-col>
            <ion-col class="primary ion-text-right">{{'yes'|translate}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{'performance_bonus'|translate}}</ion-col>
            <ion-col class="primary ion-text-right">
              <span *ngIf="pack.code=='combo'">0%</span>
              <span *ngIf="pack.code=='silver' || pack.code=='qsilver'">8%</span>
              <span *ngIf="pack.code=='gold'">10%</span>
              <span *ngIf="pack.code=='platine' || pack.code=='vip'">12%</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{'development_bonus'|translate}}</ion-col>
            <ion-col class="primary ion-text-right">
              <span *ngIf="pack.code=='combo' || pack.code=='qsilver'">0%</span>
              <span *ngIf="pack.code!='combo' && pack.code!='qsilver' && pack.code!=''">10%</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{'leadership_bonus'|translate}}</ion-col>
            <ion-col class="primary ion-text-right">
              <span *ngIf="pack.code!='vip' && pack.code!='platine' && pack.code!=''">0%</span>
              <span *ngIf="pack.code=='platine'">5%</span>
              <span *ngIf="pack.code=='vip'">10%</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{'retail_bonus'|translate}}</ion-col>
            <ion-col class="primary ion-text-right">{{'yes'|translate}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>PV</ion-col>
            <ion-col class="primary ion-text-right"><span>{{pack.pv|priceFormat}}</span></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{'product_value'|translate}}</ion-col>
            <ion-col class="primary ion-text-right">
              <span>~{{pack.price|priceFormat}} {{country.currency}}</span>
            </ion-col>
          </ion-row>
        </div>
        <ion-row *ngIf="is_pack">
          <ion-col>
            <ion-button expand="block" (click)="buyPack()">{{'become_partner'|translate}}</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-accordion>

  </ion-accordion-group>

</ion-content>
