<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="none"  slot="start" (click)="goTo('user')">
      <ion-thumbnail>
        <img alt="{{user.person.full_name}}" src="{{user.person.image}}" />
      </ion-thumbnail>
      <ion-label class="label">{{user.person.full_name}}</ion-label>
    </ion-item>

    <ion-buttons slot="end" (click)="goToMyPoints()">
      <div>
        <span style="color: var(--ion-color-primary); font-weight: bold">{{user.unit|priceFormat}} <ion-icon name="aperture-outline"></ion-icon></span>
        <br *ngIf="user.hour>0">
        <span *ngIf="user.hour>0" style="color: var(--ion-color-warning); font-weight: bold">
          {{user.hour|priceFormat}} <ion-icon name="time-outline"></ion-icon></span>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="{{'pull_down'|translate}}"
      refreshingSpinner="circles"
      refreshingText="{{'loading'|translate}}...">
    </ion-refresher-content>
  </ion-refresher>


  <ion-grid>
    <ion-toolbar class="ion-no-border">
      <ion-title slot="start">{{'schedule'|translate}}</ion-title>
    </ion-toolbar>

    <ion-row style="margin-bottom: 15px">
      <ion-col size="12" (click)="goToSchedule()">
        <img src="../../../assets/img/wz/booking.png" style="height: 170px; width: 100%; border-radius: 20px 20px 0 0; border-top:3px solid #eee"/>

        <ion-item class="item-cu" lines="none">
          <ion-label>
            <p class="bold primary" style="font-size: 18px">
              {{'schedule_game'|translate}}
            </p>
            <p style="white-space: normal">{{'schedule_game_text'|translate}}</p>

          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="tournaments.length>0">

    <ion-toolbar class="ion-no-border" (click)="goTo('tournament')">
      <ion-title slot="start">{{'tournaments'|translate}}</ion-title>

      <ion-buttons slot="end">
        <ion-button (click)="goTo('tournament')"><ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-row>
      <ion-col>
        <swiper-container
          [spaceBetween]="10"
          [slidesPerView]="2.3"
          [speed]="1000"
          [loop]="true"
          [autoplay]="{enable:true,delay:7000}" #swiperComponent>
          <swiper-slide *ngFor="let t of tournaments" (click)="goToTournament(t)">
            <img src="{{t.image}}" alt="{{t.name}}">
          </swiper-slide>

        </swiper-container>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-toolbar class="ion-no-border" (click)="goTo('game')">
      <ion-title slot="start">{{'games'|translate}}</ion-title>

      <ion-buttons slot="end">
        <ion-button (click)="goTo('game')"><ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-row class="games">
      <ion-col size="4"  *ngFor="let s of games" (click)="goToGame(s)">
        <img alt="{{s.name}}" src="{{s.image}}" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-toolbar class="ion-no-border">
      <ion-title slot="start">{{'prices'|translate}}</ion-title>
    </ion-toolbar>

    <ion-row class="games">
      <ion-col>

        <swiper-container
          [speed]="1000"
          [spaceBetween]="10"
          [loop]="true"
          [autoplay]="{enable:true,delay:5000}" #swiperComponent>
          <swiper-slide>
            <img alt="Tarif" src="https://wzs.warzone237.com/public/img/Tarifaire%20WZ%20App.png" style="height: 200px"/>
          </swiper-slide>
          <swiper-slide>
            <img alt="Tarif membre" src="https://wzs.warzone237.com/public/img/tarif_2.png" style="height: 200px"/>
          </swiper-slide>

        </swiper-container>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-toolbar class="ion-no-border">
      <ion-title slot="start">WarZone</ion-title>
    </ion-toolbar>
    <ion-row>
      <ion-col size="12">
        <ion-icon color="primary" name="call"></ion-icon> 673 996 540 <br>
        <ion-icon color="primary" name="location"></ion-icon> En face de la pharmacie de l'Harmonie <br>
        <ion-icon color="primary" name="map"></ion-icon> Akwa-Nord, Douala
      </ion-col>
      <ion-col size="12">
        <ion-icon color="primary" name="calendar"></ion-icon> Mardi à Dimanche <br>
        <ion-icon color="primary" name="time"></ion-icon> 10h à 21h
      </ion-col>
      <ion-col size="12">
        <ion-icon color="primary" name="at"></ion-icon> thewarzone237 <br>
        <ion-icon color="primary" name="globe"></ion-icon> www.warzone237.com
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col style="margin-bottom: 20px">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9465.412708228892!2d9.726062757710482!3d4.078223192125652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x106113e541bdcea7%3A0x182a67ef53fa9d6f!2sWarZone%20(WZ)%20-%20Salle%20de%20jeux%20vid%C3%A9os%20WZ!5e0!3m2!1sfr!2scm!4v1707403834155!5m2!1sfr!2scm"
                style="border:2px solid var(--ion-color-primary); border-radius: 20px; width: 100%; max-height: 300px"
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<a id="contact" style="display: none" href="tel:673996540"></a>

