<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="none"  slot="start">
      <ion-thumbnail>
        <img alt="{{user.person.full_name}}" src="{{user.person.image}}" />
      </ion-thumbnail>
      <ion-label class="label">{{user.person.full_name}}</ion-label>
    </ion-item>

    <ion-buttons slot="end">
      <ion-button>
        <span style="color: var(--ion-color-warning); font-weight: bold">{{user.point|priceFormat}} <ion-icon name="medal-outline"></ion-icon></span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="{{'pull_down'|translate}}"
      refreshingSpinner="circles"
      refreshingText="{{'loading'|translate}}...">
    </ion-refresher-content>
  </ion-refresher>


  <ion-grid>

    <ion-toolbar class="ion-no-border">
      <ion-title slot="start">Evènements</ion-title>

      <ion-buttons slot="end">
        <ion-button (click)="goTo('tournament')"><ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-row>
      <ion-col>
        <swiper-container
          [spaceBetween]="10"
          [slidesPerView]="2.3"
          [speed]="1000"
          [autoplay]="{enable:true,delay:7000}" #swiperComponent>
          <swiper-slide *ngFor="let t of tournaments" (click)="goToTournament(t)">
            <img src="{{t.image}}" alt="{{t.name}}">
          </swiper-slide>

        </swiper-container>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-toolbar class="ion-no-border">
      <ion-title slot="start">Nos Jeux</ion-title>

      <ion-buttons slot="end">
        <ion-button (click)="goTo('game')"><ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-row class="games">
      <ion-col size="4"  *ngFor="let s of games" (click)="goToGame(s)">
        <img alt="{{s.name}}" src="{{s.image}}" />
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-toolbar class="ion-no-border">
      <ion-title slot="start">WarZone</ion-title>
    </ion-toolbar>
    <ion-row>
      <ion-col size="12">
        <ion-icon color="primary" name="call"></ion-icon> 673 996 540 <br>
        <ion-icon color="primary" name="location"></ion-icon> En face de la pharmacie de l'Harmonie <br>
        <ion-icon color="primary" name="map"></ion-icon> Akwa-Nord, Douala
      </ion-col>
      <ion-col size="12" style="margin-bottom: 20px">
        <ion-icon color="primary" name="calendar"></ion-icon> Mardi à Dimanche <br>
        <ion-icon color="primary" name="time"></ion-icon> 10h à 21h
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>
<a id="contact" style="display: none" href="tel:673996540"></a>

