<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="{{'pull_down'|translate}}"
      refreshingSpinner="circles"
      refreshingText="{{'loading'|translate}}...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-buttons slot="start" style="display: none;">
    <ion-back-button defaultHref="/" id="backButton"></ion-back-button>
  </ion-buttons>

  <ion-fab vertical="top" horizontal="start" slot="fixed" style="margin-top:25px">
    <ion-fab-button color="primary" size="small" (click)="backToPreviousPage()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <div class="white-black">
    <ion-skeleton-text *ngIf="isLoading" animated style="height: 350px"></ion-skeleton-text>

    <div *ngIf="!isLoading" >
      <img style="height: 400px; width: 100%" src="{{tombola.image}}" />

    </div>

    <div class="presentation" style="margin-bottom: 30px">
      <ion-card-header style="flex-direction:column">
        <ion-skeleton-text *ngIf="isLoading" animated ></ion-skeleton-text>

        <ion-card-title *ngIf="!isLoading" style="font-size:25px;font-weight: bold">
          <span style="color:#000 !important;" *ngIf="tombola.price_type=='cash'">{{'tombola'|translate}}</span> {{tombola.name}}
        </ion-card-title>

        <ion-card-subtitle  style="color: var(--ion-color-dark); text-transform: none; font-weight: normal; font-size:14px " [innerHTML]="tombola.description">
        </ion-card-subtitle>

        <ion-card-content *ngIf="!isLoading"  style="padding-top:10px">
          <ion-row>
            <ion-col size="8" style="font-size: 14px; font-weight: bold;">{{'fees'|translate}} <span *ngIf="is_subscription">{{'member'|translate}}</span></ion-col>
            <ion-col size="4" *ngIf="!is_subscription" style="font-size: 14px; text-align: right; font-weight: bold; color:var(--ion-color-primary)">{{tombola.fees|priceFormat}} U</ion-col>
            <ion-col size="4" *ngIf="is_subscription" style="font-size: 14px; text-align: right; font-weight: bold; color:var(--ion-color-primary)">{{tombola.fees*0.8|priceFormat}} U</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="8" style="font-size: 14px; font-weight: bold;">{{'your_balance'|translate}}</ion-col>
            <ion-col size="4" style="font-size: 14px; text-align: right; font-weight: bold; color:var(--ion-color-tertiary)">{{unit|priceFormat}} U</ion-col>
          </ion-row>
        </ion-card-content>

        <ion-card-content class="ion-no-padding" *ngIf="!is_user">
          <ion-row>
            <ion-col size="12" style="text-align: center; text-transform: uppercase; font-weight: bold; color:var(--ion-color-warning)">
              {{'no_login_tournament'|translate}}
            </ion-col>
          </ion-row>
        </ion-card-content>


        <ion-skeleton-text *ngIf="isLoading" animated style="width: 20%"></ion-skeleton-text>
        <ion-skeleton-text *ngIf="isLoading" animated style="width: 10%"></ion-skeleton-text>

      </ion-card-header>


      <div class="ion-text-center" *ngIf="can_play && is_user">
        <ion-button (click)="modalTombola()">{{'play'|translate}}</ion-button>
      </div>
      <div class="ion-text-center" *ngIf="is_user && pub=='enable'">
        <ion-button (click)="showAd()" [disabled]="!showAdButton" color="tertiary">{{'play_free'|translate}} &nbsp;
          <ion-icon name="film-outline" *ngIf="showAdButton"></ion-icon>
          <ion-spinner name="crescent" *ngIf="!showAdButton"></ion-spinner>
        </ion-button>
      </div>

      <div class="ion-text-center" *ngIf="!can_play && is_user">
        <ion-button color="tertiary" (click)="showSchedule()">{{'recharge_account'|translate}}</ion-button>
      </div>

      <div class="ion-text-center" *ngIf="!is_user">
        <ion-button color="tertiary" (click)="login()">{{'login'|translate}}</ion-button>
      </div>
    </div>

  </div>

</ion-content>

