<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="{{'pull_down'|translate}}"
      refreshingSpinner="circles"
      refreshingText="{{'loading'|translate}}...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-buttons slot="start" style="display: none;">
    <ion-back-button defaultHref="/" id="backButton"></ion-back-button>
  </ion-buttons>

  <ion-fab vertical="top" horizontal="start" slot="fixed" style="margin-top:25px">
    <ion-fab-button color="primary" size="small" (click)="backToPreviousPage()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <div class="white-black">
    <ion-skeleton-text *ngIf="isLoading" animated style="height: 350px"></ion-skeleton-text>

    <div *ngIf="!isLoading" >
      <img style="height: 350px; width: 100%" src="../../../assets/img/wz/referral.png" />

    </div>

    <div class="presentation">
      <ion-card-header style="flex-direction:column">
        <ion-card-title style="font-size:25px;font-weight: bold">
          <span class="primary">Parraine et gagne</span> avec WarZone
        </ion-card-title>


        <ion-card-subtitle  style="color: var(--ion-color-dark); text-transform: none; font-weight: normal; font-size:14px ">
          <p>Parce que jouer ensemble c'est mieux, invite ton entourage à devenir membre de <strong class="primary">WarZone</strong> et gagne une commission sur chaque abonnement.</p>
          <p>Obtiens jusqu'à <strong class="primary">10%</strong> de commission sur de chaque recharge dès maintenant en partage ton lien à tes contacts</p>
        </ion-card-subtitle>


        <ion-skeleton-text *ngIf="isLoading" animated style="width: 20%"></ion-skeleton-text>
        <ion-skeleton-text *ngIf="isLoading" animated style="width: 10%"></ion-skeleton-text>

      </ion-card-header>

      <div class="divider"></div>
      <ion-card-content *ngIf="!isLoading"  style="padding-top:10px">
        <ion-row>
          <ion-col size="8" style="font-size: 14px; font-weight: bold;">{{'your_sponsor_code'|translate}}</ion-col>
          <ion-col size="4" style="font-size: 14px; text-align: right; font-weight: bold; color:var(--ion-color-primary)">{{user.sponsor_code}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8" style="font-size: 14px; font-weight: bold;">{{'number_referral'|translate}}</ion-col>
          <ion-col size="4" style="font-size: 14px; text-align: right; font-weight: bold; color:var(--ion-color-primary)">{{referrals}}</ion-col>
        </ion-row>
      </ion-card-content>




    </div>

  </div>

</ion-content>

<ion-footer class="ion-text-center" >
  <ion-button (click)="shareSponsorCode()">{{'share'|translate}}</ion-button>
</ion-footer>
