<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'my_tombolas'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="{{'pull_down'|translate}}"
      refreshingSpinner="circles"
      refreshingText="{{'loading'|translate}}...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>

    <ion-list>
      <ion-item *ngFor="let m of subscriptions" (click)="goToTombola(m.tombola)">
        <ion-label>
          <div style="font-size:25px;font-weight: bold;">{{m.tombola.name}}</div>
          <p>
            {{'good_answer'|translate}} : <strong class="primary">{{m.result}}</strong> <br>
            {{'your_answer'|translate}} : <strong style="color: var(--ion-color-tertiary)">{{m.user_result}}</strong> <br>
            {{'price'|translate}} : <strong class="primary">{{m.price_was|priceFormat}} U</strong> <br>
            {{'status'|translate}} : <strong class="primary">{{m.status|translate}}</strong> - {{m.created_at|dateFormat:1}}
          </p>
        </ion-label>

      </ion-item>

      <app-oups-info [text]="'no_tombola'" *ngIf="!is_loading && subscriptions.length<1"></app-oups-info>
    </ion-list>
  </ion-grid>
</ion-content>
