<ion-content [fullscreen]="true">
  <div class="fond">

    <ion-grid style="color: transparent;">
      <ion-row>
        <ion-col size="21">
          Level : {{level}} &nbsp; Size: {{size}} &nbsp; Answer : {{answer}}
        </ion-col>
        <ion-col size="21">
          Choice : {{choice}} &nbsp; Is loose :  {{is_loose}}
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-grid class="grid-game">
      <ion-row>
        <ion-col size="12">
          <img src="../../../../../assets/img/wz/game/bat.png" style="border-radius: 20px">
        </ion-col>
        <ion-col size="12">
          <ion-title style="padding-bottom:5px">Niveau <span>{{level}}</span></ion-title>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="level==1" [ngClass]="{'selected-row': level==1}">
        <ion-col size="6" (click)="checkChoice(1)" [ngClass]="{'good-answer': choice==1 && choice==answer, 'loose': answer==1 && is_loose, 'choice':choice==1 && choice!=answer}">
          <div class="game-block middle">1</div>
        </ion-col>

        <ion-col size="6" (click)="checkChoice(2)" [ngClass]="{'good-answer': choice==2 && choice==answer, 'loose': answer==2 && is_loose, 'choice':choice==2 && choice!=answer}">
          <div class="game-block middle">2</div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="level==2" [ngClass]="{'selected-row': level==2}">
        <ion-col size="6" (click)="checkChoice(1)" [ngClass]="{'good-answer': choice==1 && choice==answer, 'loose': answer==1 && is_loose, 'choice':choice==1 && choice!=answer}">
          <div class="game-block middle">1</div>
        </ion-col>

        <ion-col size="6" (click)="checkChoice(2)" [ngClass]="{'good-answer': choice==2 && choice==answer, 'loose': answer==2 && is_loose, 'choice':choice==2 && choice!=answer}">
          <div class="game-block middle">2</div>
        </ion-col>
      </ion-row>


      <ion-row *ngIf="level==3" [ngClass]="{'selected-row': level==3}">
        <ion-col size="4" (click)="checkChoice(1)" [ngClass]="{'good-answer': choice==1 && choice==answer, 'loose': answer==1 && is_loose, 'choice':choice==1 && choice!=answer}">
          <div class="game-block middle">1</div>
        </ion-col>

        <ion-col size="4" (click)="checkChoice(2)" [ngClass]="{'good-answer': choice==2 && choice==answer, 'loose': answer==2 && is_loose, 'choice':choice==2 && choice!=answer}">
          <div class="game-block middle">2</div>
        </ion-col>

        <ion-col size="4" (click)="checkChoice(3)" [ngClass]="{'good-answer': choice==3 && choice==answer, 'loose': answer==3 && is_loose, 'choice':choice==3 && choice!=answer}">
          <div class="game-block middle">3</div>
        </ion-col>
      </ion-row>


      <ion-row *ngIf="level==4" [ngClass]="{'selected-row': level==4}">
        <ion-col size="4" (click)="checkChoice(1)" [ngClass]="{'good-answer': choice==1 && choice==answer, 'loose': answer==1 && is_loose, 'choice':choice==1 && choice!=answer}">
          <div class="game-block middle">1</div>
        </ion-col>

        <ion-col size="4" (click)="checkChoice(2)" [ngClass]="{'good-answer': choice==2 && choice==answer, 'loose': answer==2 && is_loose, 'choice':choice==2 && choice!=answer}">
          <div class="game-block middle">2</div>
        </ion-col>

        <ion-col size="4" (click)="checkChoice(3)" [ngClass]="{'good-answer': choice==3 && choice==answer, 'loose': answer==3 && is_loose, 'choice':choice==3 && choice!=answer}">
          <div class="game-block middle">3</div>
        </ion-col>
      </ion-row>


      <ion-row *ngIf="level==5" [ngClass]="{'selected-row': level==5}">
        <ion-col size="4" (click)="checkChoice(1)" [ngClass]="{'good-answer': choice==1 && choice==answer, 'loose': answer==1 && is_loose, 'choice':choice==1 && choice!=answer}">
          <div class="game-block middle">1</div>
        </ion-col>

        <ion-col size="4" (click)="checkChoice(2)" [ngClass]="{'good-answer': choice==2 && choice==answer, 'loose': answer==2 && is_loose, 'choice':choice==2 && choice!=answer}">
          <div class="game-block middle">2</div>
        </ion-col>

        <ion-col size="4" (click)="checkChoice(3)" [ngClass]="{'good-answer': choice==3 && choice==answer, 'loose': answer==3 && is_loose, 'choice':choice==3 && choice!=answer}">
          <div class="game-block middle">3</div>
        </ion-col>
      </ion-row>


      <ion-row *ngIf="level==6" [ngClass]="{'selected-row': level==6}">
        <ion-col size="3" (click)="checkChoice(1)" [ngClass]="{'good-answer': choice==1 && choice==answer, 'loose': answer==1 && is_loose, 'choice':choice==1 && choice!=answer}">
          <div class="game-block middle">1</div>
        </ion-col>

        <ion-col size="3" (click)="checkChoice(2)" [ngClass]="{'good-answer': choice==2 && choice==answer, 'loose': answer==2 && is_loose, 'choice':choice==2 && choice!=answer}">
          <div class="game-block middle">2</div>
        </ion-col>

        <ion-col size="3" (click)="checkChoice(3)" [ngClass]="{'good-answer': choice==3 && choice==answer, 'loose': answer==3 && is_loose, 'choice':choice==3 && choice!=answer}">
          <div class="game-block middle">3</div>
        </ion-col>

        <ion-col size="3" (click)="checkChoice(4)" [ngClass]="{'good-answer': choice==4 && choice==answer, 'loose': answer==4 && is_loose, 'choice':choice==4 && choice!=answer}">
          <div class="game-block middle">4</div>
        </ion-col>
      </ion-row>


      <ion-row *ngIf="level==7" [ngClass]="{'selected-row': level==7}" id="level5">
        <ion-col size="3" (click)="checkChoice(1)" [ngClass]="{'good-answer': choice==1 && choice==answer, 'loose': answer==1 && is_loose, 'choice':choice==1 && choice!=answer}">
          <div class="game-block middle">1</div>
        </ion-col>

        <ion-col size="3" (click)="checkChoice(2)" [ngClass]="{'good-answer': choice==2 && choice==answer, 'loose': answer==2 && is_loose, 'choice':choice==2 && choice!=answer}">
          <div class="game-block middle">2</div>
        </ion-col>

        <ion-col size="3" (click)="checkChoice(3)" [ngClass]="{'good-answer': choice==3 && choice==answer, 'loose': answer==3 && is_loose, 'choice':choice==3 && choice!=answer}">
          <div class="game-block middle">3</div>
        </ion-col>

        <ion-col size="3" (click)="checkChoice(4)" [ngClass]="{'good-answer': choice==4 && choice==answer, 'loose': answer==4 && is_loose, 'choice':choice==4 && choice!=answer}">
          <div class="game-block middle">4</div>
        </ion-col>
      </ion-row>


      <ion-row *ngIf="level==8" [ngClass]="{'selected-row': level==8}">
        <ion-col size="3" (click)="checkChoice(1)" [ngClass]="{'good-answer': choice==1 && choice==answer, 'loose': answer==1 && is_loose, 'choice':choice==1 && choice!=answer}">
          <div class="game-block middle">1</div>
        </ion-col>

        <ion-col size="3" (click)="checkChoice(2)" [ngClass]="{'good-answer': choice==2 && choice==answer, 'loose': answer==2 && is_loose, 'choice':choice==2 && choice!=answer}">
          <div class="game-block middle">2</div>
        </ion-col>

        <ion-col size="3" (click)="checkChoice(3)" [ngClass]="{'good-answer': choice==3 && choice==answer, 'loose': answer==3 && is_loose, 'choice':choice==3 && choice!=answer}">
          <div class="game-block middle">3</div>
        </ion-col>

        <ion-col size="3" (click)="checkChoice(4)" [ngClass]="{'good-answer': choice==4 && choice==answer, 'loose': answer==4 && is_loose, 'choice':choice==4 && choice!=answer}">
          <div class="game-block middle">4</div>
        </ion-col>
      </ion-row>


      <ion-row *ngIf="level==9" class="col-l-10" [ngClass]="{'selected-row': level==9}">
        <ion-col (click)="checkChoice(1)" [ngClass]="{'good-answer': choice==1 && choice==answer, 'loose': answer==1 && is_loose, 'choice':choice==1 && choice!=answer}">
          <div class="game-block middle">1</div>
        </ion-col>

        <ion-col (click)="checkChoice(2)" [ngClass]="{'good-answer': choice==2 && choice==answer, 'loose': answer==2 && is_loose, 'choice':choice==2 && choice!=answer}">
          <div class="game-block middle">2</div>
        </ion-col>

        <ion-col (click)="checkChoice(3)" [ngClass]="{'good-answer': choice==3 && choice==answer, 'loose': answer==3 && is_loose, 'choice':choice==3 && choice!=answer}">
          <div class="game-block middle">3</div>
        </ion-col>

        <ion-col (click)="checkChoice(4)" [ngClass]="{'good-answer': choice==4 && choice==answer, 'loose': answer==4 && is_loose, 'choice':choice==4 && choice!=answer}">
          <div class="game-block middle">4</div>
        </ion-col>

        <ion-col (click)="checkChoice(5)" [ngClass]="{'good-answer': choice==5 && choice==answer, 'loose': answer==5 && is_loose, 'choice':choice==5 && choice!=answer}">
          <div class="game-block middle">5</div>
        </ion-col>
      </ion-row>


      <ion-row *ngIf="level==10" class="col-l-10" [ngClass]="{'selected-row': level==10}">
        <ion-col (click)="checkChoice(1)" [ngClass]="{'good-answer': choice==1 && choice==answer, 'loose': answer==1 && is_loose, 'choice':choice==1 && choice!=answer}">
          <div class="game-block middle">1</div>
        </ion-col>

        <ion-col (click)="checkChoice(2)" [ngClass]="{'good-answer': choice==2 && choice==answer, 'loose': answer==2 && is_loose, 'choice':choice==2 && choice!=answer}">
          <div class="game-block middle">2</div>
        </ion-col>

        <ion-col (click)="checkChoice(3)" [ngClass]="{'good-answer': choice==3 && choice==answer, 'loose': answer==3 && is_loose, 'choice':choice==3 && choice!=answer}">
          <div class="game-block middle">3</div>
        </ion-col>

        <ion-col (click)="checkChoice(4)" [ngClass]="{'good-answer': choice==4 && choice==answer, 'loose': answer==4 && is_loose, 'choice':choice==4 && choice!=answer}">
          <div class="game-block middle">4</div>
        </ion-col>

        <ion-col (click)="checkChoice(5)" [ngClass]="{'good-answer': choice==5 && choice==answer, 'loose': answer==5 && is_loose, 'choice':choice==5 && choice!=answer}">
          <div class="game-block middle">5</div>
        </ion-col>
      </ion-row>

    </ion-grid>

    <ion-footer style="position:absolute; bottom:0; width: 100%; background: transparent !important;">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="../../../../../assets/img/wz/game/day_win.png" class="radius" alt="">
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="close()" color="tertiary">Fermer</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" [ngClass]="{'pulsate-bck':is_loose||is_win}" (click)="play('true')" color="medium">Rejouer</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-footer>
  </div>
</ion-content>

