<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'my_reservations'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="{{'pull_down'|translate}}"
      refreshingSpinner="circles"
      refreshingText="{{'loading'|translate}}...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>

    <ion-card *ngFor="let m of schedules" class="radius">
      <ion-card-header>
        <ion-card-title class="black">{{m.game.name}}</ion-card-title>
        <ion-card-subtitle>{{'schedule_at'|translate}} <span class="primary">{{m.date|dateFormat:2}}</span></ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{'player_number'|translate}} : <span class="bold primary">{{m.player_number}}</span> <br>
        {{'game_hour'|translate}} : <span class="bold primary">{{m.duration}}</span>
      </ion-card-content>
    </ion-card>
    <app-oups-info [text]="'no_schedule'" *ngIf="!is_loading && schedules.length<1"></app-oups-info>
  </ion-grid>
</ion-content>
