<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{titre|translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss('close-modal')">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="custom">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Tirer vers le bas pour actualiser"
      refreshingSpinner="circles"
      refreshingText="{{'loading'|translate}}...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>


    <ion-row>
      <ion-col>
        <ion-input [(ngModel)]="title" autocapitalize="sentence" [ngModelOptions]="{standalone: true}" placeholder="{{'title'|translate}}"></ion-input>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-textarea [(ngModel)]="description" autocapitalize="sentence" [ngModelOptions]="{standalone: true}" placeholder="{{'description'|translate}}"></ion-textarea>
      </ion-col>
    </ion-row>
    
    
    <ion-row>
      <ion-col>
        <ion-select [(ngModel)]="country_id" [ngModelOptions]="{standalone: true}"
                    [interfaceOptions]="{header:'country'|translate,subheader:'choose_country'|translate}" interface="action-sheet"
                    okText="{{'ok'|translate}}" cancelText="{{'cancel'|translate}}" placeholder="{{'country'|translate}}">
          <ion-select-option *ngFor="let c of countries" value="{{c.id}}">{{c.name}}</ion-select-option>
        </ion-select>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            {{'start_at'|translate}}
          </ion-col>
          <ion-col size="12">
            <ion-datetime-button datetime="datestart"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                  [showDefaultTitle]="true"
                  presentation="date"
                  format="YYYY-MM-DD"
                  locale="fr-FR" [(ngModel)]="start_at" id="datestart">

                  <span slot="title">{{'start_at'|translate}}</span>
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="6">
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            {{'end_at'|translate}}
          </ion-col>
          <ion-col size="12">
            <ion-datetime-button datetime="dateend"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                  [showDefaultTitle]="true"
                  presentation="date"
                  format="YYYY-MM-DD"
                  locale="fr-FR" [(ngModel)]="end_at" id="dateend">

                  <span slot="title">{{'end_at'|translate}}</span>
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>
        </ion-row>
      </ion-col>

    </ion-row>



    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" fill="outline" (click)="selectFile()">
          <ion-icon name="document-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" fill="outline" (click)="selectImage('choose')">
          <ion-icon name="image-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="12" *ngIf="image!='' && image_selected">
        <ion-img [src]="image.url" style="width: 100%" alt=""></ion-img>
      </ion-col>
      <ion-col size="12" *ngIf="fileSrc!='' && file_selected">
        <ion-icon name="document"></ion-icon> {{fileSrc}} téléchargé
      </ion-col>
    </ion-row>
    <input style="display: none" type="file" (change)="onSelectFile($event)" class="custom-file-input" id="fileChoose"
           accept=".pdf, .doc,.docx, .xlsx, .xls"
    >
  </ion-grid>



</ion-content>
<ion-footer class="ion-text-center" >
  <ion-button (click)="save()" color="primary">
    <ion-icon name="chevron-forward-outline"></ion-icon> &nbsp; {{'save'|translate}} &nbsp;<ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
</ion-footer>
