<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>{{'my_points'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="{{'pull_to_refresh'|translate}}"
      refreshingSpinner="circles"
      refreshingText="{{'loading'|translate}}...">
    </ion-refresher-content>
  </ion-refresher>


  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>{{'unit'|translate}}s</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div class="radius">
          <ion-card-header style="padding-bottom: 0;">
            <ion-card-title style="text-align: center; font-size: 50px">{{user.unit|priceFormat}}</ion-card-title>
            <ion-card-subtitle class="ion-text-center">{{'unit'|translate}}s</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <div class="divider"></div>
            <ion-button *ngIf="settings.android.recharge=='enable'" (click)="recharge()" color="light">{{'recharge'|translate}}</ion-button>
          </ion-card-content>
        </div>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>{{'referral_point'|translate}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>{{'referral_text'|translate}}</p>
        <p>{{'promo_code_is'|translate}} : <span class="bold primary" (click)="shareSponsorCode()">{{user.sponsor_code}}</span><br>
          {{'number_sponsored_player'|translate}} : <span class="bold primary">{{referral_count}}</span><br>
        </p>
        <ion-button (click)="shareSponsorCode()" color="light">{{'share'|translate}}</ion-button>


        <div class="radius">
          <ion-card-header style="padding: 5px;">
            <ion-card-title style="text-align: center; font-size: 50px">{{user.referral_point|priceFormat}}</ion-card-title>
            <ion-card-subtitle class="ion-text-center">{{'referral_point'|translate}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content *ngIf="user.referral_point>10500" style="padding: 5px;" class="ion-text-center">
            <div class="divider"></div>
            <ion-button *ngIf="settings.android.withdrawal=='enable'" (click)="withdrawal()" color="light">{{'withdrawal'|translate}}</ion-button>
          </ion-card-content>
        </div>
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>{{'bonus_point'|translate}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>{{'bonus_text'|translate}}</p>
        <div class="radius">
          <ion-card-header style="padding: 5px;">
            <ion-card-title style="text-align: center; font-size: 50px">{{user.bonus_point|priceFormat}}</ion-card-title>
            <ion-card-subtitle class="ion-text-center">{{'bonus_point'|translate}}</ion-card-subtitle>
          </ion-card-header>
        </div>
      </div>
    </ion-accordion>
  </ion-accordion-group>


  <ion-grid>
    <ion-toolbar class="ion-no-border">
      <ion-title slot="start">{{'transaction_history'|translate}}</ion-title>
    </ion-toolbar>

    <ion-row style="margin-bottom: 15px">
      <ion-col size="12">
        <ion-item *ngFor="let item of old_payments">
          <ion-label style="white-space: normal">
            <h2>{{'amount'|translate}} : <span class="primary bold">{{item.transaction_amount|priceFormat}} <span *ngIf="item.type!='withdrawal'">U</span> <span *ngIf="item.type=='withdrawal'" >FCFA</span></span> ({{item.type|translate}})</h2>
            <h3 *ngIf="item.type=='withdrawal'">{{'withdrawal_fee'|translate}} : {{item.transaction_amount*0.05|priceFormat}} FCFA</h3>
            <h3 *ngIf="item.type=='referral_point'">{{'account'|translate}} : {{'referral_point'|translate}}</h3>
            <h3 *ngIf="item.type=='bonus_point'">{{'account'|translate}} : {{'bonus_point'|translate}}</h3>
            <h3 *ngIf="item.type!='withdrawal' && item.type!='referral_point' && item.type!='bonus_point'">{{'account'|translate}} : {{'unit'|translate}}</h3>
            <p>{{item.created_at|dateFormat:1}}</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
