<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{titre|translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss('close-modal')">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="custom">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Tirer vers le bas pour actualiser"
      refreshingSpinner="circles"
      refreshingText="{{'loading'|translate}}...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>


    <ion-row>
      <ion-col>
        <ion-input [(ngModel)]="name" autocapitalize="sentence" [ngModelOptions]="{standalone: true}" placeholder="{{'name'|translate}}"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-input [(ngModel)]="phone" min={{MIN}} max="{{MAX}}" type="number" [ngModelOptions]="{standalone: true}" placeholder="{{'phone'|translate}}"></ion-input>
      </ion-col>
      <ion-col size="6">
        <ion-input [(ngModel)]="code" type="text" [ngModelOptions]="{standalone: true}" placeholder="{{'stockist_code'|translate}}"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-input [(ngModel)]="district" autocapitalize="sentence" [ngModelOptions]="{standalone: true}" placeholder="{{'district'|translate}}"></ion-input>
      </ion-col>
      <ion-col>
        <ion-select [(ngModel)]="town_id" [ngModelOptions]="{standalone: true}"
                    [interfaceOptions]="{header:'town'|translate,subheader:'choose_town'|translate}" interface="action-sheet"
                    okText="{{'ok'|translate}}" cancelText="{{'cancel'|translate}}" placeholder="{{'town'|translate}}">
          <ion-select-option *ngFor="let c of towns" value="{{c.id}}">{{c.name}}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-textarea [(ngModel)]="locality" autocapitalize="sentence" [ngModelOptions]="{standalone: true}" placeholder="{{'locality'|translate}}"></ion-textarea>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>
<ion-footer class="ion-text-center" >
  <ion-button (click)="save()" color="primary">
    <ion-icon name="chevron-forward-outline"></ion-icon> &nbsp; {{'save'|translate}} &nbsp;<ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
</ion-footer>
